<div class="constrain-10 pd-md">

	<h1>{{title}}</h1>

	{{{intro}}}

	<h2>Grid</h2>

	<p>Description about grids.</p>

	<h3>First example</h3>

	<p>First example description</p>

	<h5>Source code</h5>

	<pre><code class="html">    
		<div class="grid">
			<div class="cell span-12"></div>
			<div class="cell span-6"></div>
			<div class="cell span-6"></div>
		</div>
	</code></pre>

	<h5>Result</h5>
	
	<div class="bd-1 bd-light padding-sm fs-default">
		<div class="grid">
			<div class="cell span-12">
				<div class="bd-1 bd-light pd-top-xl pattern-checker"></div>
			</div>
			<div class="cell span-6">
				<div class="bd-1 bd-light pd-top-xl pattern-checker"></div>
			</div>
			<div class="cell span-6">
				<div class="bd-1 bd-light pd-top-xl pattern-checker"></div>
			</div>
		</div>
	</div>

	<h4>Example variant</h4>

	<p>Variant description</p>

	<pre>
		<code class="html">    
			<div class="grid columns-8">
				<div class="cell span-12 span-1--desktop"></div>
				<div class="cell span-12 span-6--desktop"></div>
				<div class="cell span-12 span-1--desktop"></div>
			</div>
		</code>
	</pre>

	<div class="bd-1 bd-light padding-sm fs-default">
		<div class="grid columns-8">
			<div class="cell span-12 span-1--desktop">
				<div class="bd-1 bd-light pd-top-xl pattern-checker"></div>
			</div>
			<div class="cell span-12 span-6--desktop">
				<div class="bd-1 bd-light pd-top-xl pattern-checker"></div>
			</div>
			<div class="cell span-12 span-1--desktop">
				<div class="bd-1 bd-light pd-top-xl pattern-checker"></div>
			</div>
		</div>
	</div>

	<hr/>

	<h2>Grid</h2>

	<p>Description about grids.</p>

	<h3>First example</h3>

	<p>First example description</p>

	<h5>Source code</h5>

	<pre><code class="html">    
		<div class="grid">
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
	</code></pre>

	<h5>Result</h5>

	<div class="bd-1 bd-light padding-sm fs-default">
		<div class="grid">
			<div class="cell span-12 span-4--wide">
				<div class="bd-1 bd-light pd-top-xl pattern-checker"></div>
			</div>
			<div class="cell span-12 span-6--tablet span-4--wide">
				<div class="bd-1 bd-light pd-top-xl pattern-checker"></div>
			</div>
			<div class="cell span-12 span-6--tablet span-4--wide">
				<div class="bd-1 bd-light pd-top-xl pattern-checker"></div>
			</div>
		</div>
	</div>

	<h4>Example variant</h4>

	<p>Variant description</p>

	<pre>
		<code class="html">    
			<div class="grid">
				<div class="cell"></div>
				<div class="cell"></div>
			</div>
		</code>
	</pre>

</div>