<h1 class="ff-playfair-display">{{title}}</h1>

<div class="constrain">
	<div class="grid css-js-module">
		{{#for 1 120}}
			<div class="cell span-6 span-4--tablet span-3--desktop span-2--wide">
				<div class="bg-pink">
					<div>
						<div>
							<div>
								<div class="squared"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="cell span-6 span-4--tablet span-3--desktop span-2--wide">
				<div class="bg-blue">
					<div>
						<div>
							<div>
								<div class="squared"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{{/for}}
	</div>
</div>